<h1> This is the homePage</h1>

<%= link_to 'about', about_about_page_path %>
<%= link_to 'customer login', customer_customer_login_page_path %>
<%= link_to 'admin login', admin_admin_login_page_path %>